[submodule "themes/hugo-theme-yinyang"]
	path = themes/hugo-theme-yinyang
	url = git@github.com:ritesh/hugo-theme-yinyang.git
[submodule "public"]
	path = public
	url = git@github.com:ritesh/ritesh.github.io.git 
	branch = master
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:ritesh/hugo-PaperMod.git
